/* app css stylesheet */

body {
}

div#kanban-top {
    width: 100%;
    height: 50px;
    background: rgba(0, 188, 91, 1);
}

.view-frame {
    height: 100%;
    position: fixed;
    width: 100%;
}

.entries {
    float: left;
    min-height: 20px;
    border: 1px solid #fff;
    background: rgba(249,249,249,1);
    margin: 5px;
    border-radius: 3px;
}

.entry {
    float: left;
    width: 240px;
    margin: 5px;
    min-height: 20px;
}

.entry-title {
    color: #333;
    border-bottom: none;
    margin: 2% 2% 10px;
}

.task {
    width: 96%;
    border: 1px solid #EAEAEA;
    margin: 2%;
    height: 62px;
    background-color: #fff;
    border-radius: 3px;
}

.task-title {
    color: black;
    margin: 5px;
    position: absolute;
}

.tasks {
    min-height: 20px;
    border-radius: 3px;
}

button.btn.btn-primary {
    background: none;
    border: 1px solid white;
}

.create-entry-from {
    margin: 10PX;
    float: left;
    width: 100%;
}

.input-group {
    float: left;
    border: 1px solid none;
}

.btn-group {
    margin-left: 10px;
}

div#create-button-entry {
    margin-top: 40px;
    border: 1px solid rgba(0, 188, 91, 1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}

div#create-button-entry :hover {
    background-color: rgba(0, 188, 91, 1);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    cursor: pointer;
}

div#search {
    width: 15%;
    float: right;
    margin: 10px;
}

#search .form-control {
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    background-color: rgba(227, 245, 236, 1);
    border: 1px solid rgba(227, 245, 236, 1);
    border-radius: 20px;
}
