.page-title {
  width: 100%;
  float: left;
  height: 30px;
  margin-bottom: 12px;
  margin-top: 10px;
}

.page-content-editor {
  width: 49%;
  min-height: 300px;
  max-height: 65vh;
  float: left;
  margin-right: 10px;
}

.page-content-preview {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  padding: 7px;
  overflow: scroll;
  height: 65vh;
}

.page-title-label {
  float: left;
  height: 40px;
  line-height: 38px;
  width: 40px;
}

.page-title-input {
  float: left;
  width: 300px;
}

textarea#pageContent {
  min-height: 450px;
}

.page-creation {
  margin-top: 20px;
}