/* app css stylesheet */

@base: #2fbacd;
@error: rgb(253, 3, 96);
@danger: rgb(253, 3, 96);

body {
  width: 100%;
  height: 100%;
  padding-top: 0 !important;
  padding-right: 0px;
  font-weight: lighter;
}

body > a {
  color: black !important;
  cursor: default;
}

span {
  cursor: default;
}

div#kanban-top {
  width: 100%;
  height: 50px;
  background-color: @base !important;
}

.view-frame {
  height: 100%;
  position: fixed;
  width: 100%;
}

button.btn.btn-primary {
  background-color: @base !important;
  border: 1px solid @base;
  width: auto !important;
  min-width: 80px;
}

.input-group {
  float: left;
}

.btn-group {
  margin-left: 10px;
}

div#search {
  width: 15%;
  float: right;
  margin: 10px;
}

#search .form-control {
  width: 100%;
  height: 28px;
  padding: 6px 12px;
  background-color: #e3f5ec;
  border: 1px solid #e3f5ec;
  border-radius: 20px;
}

button.btn.btn-primary {
  background: @base;
  border: 1px solid #EEECE8;
}

.thiki-menu {
  border: 1px solid red;
  margin: 5px;
}

.thiki-menu-items {
  border-radius: 2px !important;
  border: none !important;
}

.thiki-menu-item {
  cursor: pointer;
  text-align: left;
}

.thiki-menu-item :hover {
  background-color: @base !important;
  border-radius: 0px;
  color: white !important;
}

button.thiki-submit-button {
  margin: 0 auto 0 10px;
  float: left;
}

.thiki-cancel-button {
  float: left;
  height: 28px;
  line-height: 28px;
  margin: 2px auto auto 30px;
  cursor: pointer;
}

.modal-header {
  background: #f9f9f9;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: none !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0 !important;
  box-shadow: 0 !important;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: @base;
  border: none !important;
  border-radius: 2px;
}

.thiki-delete-button {
  background-color: @error !important;
  color: white;
}

.thiki-warning-button {
  background-color: @error !important;
}

.thiki-delete-item :hover {
  background-color: @error !important;
}

.thiki-warning-button :hover {
  background-color: @error !important;
}

.thiki-form-buttons {
  float: left;
  margin: 10px;
}

.editable-text .editable-buttons {
  float: none !important;
  margin-top: 0px !important;
}

span.editable-buttons {
  float: left !important;
  margin-top: 10px !important;
  margin-left: 0px !important;
}

.editable-click,
a.editable-click {
  text-decoration: none;
  color: black !important;
  border-bottom: none !important;
}

form.form-inline.editable-wrap.editable-textarea.ng-pristine.ng-valid.ng-scope {
  width: 100%;
}

.editable-controls.form-group {
  width: inherit;
}

textarea.editable-input.form-control.ng-pristine.ng-valid.ng-touched {
  width: 100%;
}

textarea.editable-input.form-control {
  width: 100%;
}

.editable-cancel-button {
  border: none;
}

.form-control {
  border-radius: 2px !important;
}

.btn {
  border-radius: 2px !important;
}

.dropdown-menu {
  min-width: 100px !important;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, .175) !important;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .175) !important;
  text-align: center !important;
}

div#thiki-logo {
  height: 50px;
  position: absolute;
  line-height: 50px;
  margin-left: 10px;
}

div#thiki-logo img {
  height: 35px;
}

div#thiki-banner {
  width: 100%;
  height: 50px;
  background-color: @base !important;
}

.has-error .form-control {
  border-color: @error !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline {
  color: #ea4440 !important;
}

span.thiki-input-error-message {
  float: left;
  margin-top: 5px;
  color: @error;
  padding: 5px;
  border-radius: 2px;
}

.thiki-button-large {
  height: 40px;
  width: 90px;
}

div.validation-error-message {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #911;
  font-size: 12px;
  width: 100%;
  border: 1px solid #bac6d3;
  min-height: 20px;
  padding: 5px;
  background: #f9dbdb;
  border-radius: 3px;
  line-height: 20px;
}

.has-feedback .form-control-feedback {
  right: 12px !important;
  top: 0px;
}

.aside .aside-dialog .aside-header {
  background: @base !important;
}

.modal {
  /*
    z-index: 2000 !important;
    */
}

.form-control {
  -webkit-box-shadow: none !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}

.btn-success {
  border-color: #5cb85c !important;
}

span.thiki-setting.glyphicon {
  font-size: 11px;
  color: #696767;
  cursor: pointer;
}

.editable-error.help-block.ng-binding {
  margin-top: -8px;
}

form.form-inline.editable-wrap.editable-text.ng-valid.ng-scope.ng-dirty.ng-valid-parse.ng-submitted {
  margin-left: 5px;
}

ul.thiki-menu-items.dropdown-menu {
  margin-top: -10px;
  position: relative;
}

button.dropdown-toggle.dropdown {
  max-height: 35px;
}

.aside {
  min-width: 10px !important;
}

button.btn.login-btn {
  border: 1px solid #575e70;
  width: 70px;
}

button.btn.login-btn:hover {
  border-color: @base;
  color: @base;
}

.btn.btn-primary {
  width: 70px;
}

.register-btn {
  border: 1px solid @base !important;
}

.ng-hide-add,
.ng-hide-remove {
  /* ensure visibility during the transition */
  display: block !important;
  /* yes, important */
}

.thiki-animation {
  transition: 0.3s linear all;
  opacity: 1;
}

.thiki-animation.ng-hide {
  opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

ul.thiki-banner-menu.dropdown-menu {
  margin-top: 1px;
  position: absolute !important;
}

.menu-banner {
  background: #f9f8f6;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #000;
  float: left;
  width: 100%;
  position: relative;
}

.domain-content {
  margin: 5px;
}

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.cr-viewport {
  width: 200px !important;
  height: 200px !important;
}

.cr-boundary {
  width: 200px !important;

  height: 200px !important;
}

.modal-mid {
  width: 880px !important;
  height: 500px !important;
  top: 80px !important;
}

.modal-sm {
  top: 80px !important;
  width: 350px !important;
  height: 150px !important;
}

.modal-loading {
  top: 80px !important;
}

.modal-pages {
  width: 700px !important;
  height: 880px !important;
  top: 80px !important;
}

.modal-page {
  width: 90% !important;
  height: 880px !important;
  top: 20px !important;
}

.modal-page .modal-body {
  height: 100%;
  min-height: 70vh;
}

.modal-top {
  margin-top: 20px !important;
  width: 300px;
}

.modal-pages .modal-body {
  min-height: 120px;
}

.modal-loading .modal-content {
  background: none;
}

.backdrop-class-top {
  background: none !important;
}

.modal-fullscreen {
  width: 100% !important;
  height: 100% !important;
  top: 10px !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 0 !important;
  }
}

.modal-backdrop.in {
  opacity: 0.75 !important;
}

.modal-body {
  position: relative;
  padding: 15px;
  margin-right: 10px !important;
  max-height: 800px;
  height: auto;
}

.nav-tabs > li > a {
  border-radius: 0px 2px 0 0 !important;
  color: black !important;
}

.nav > li > a {
  padding: 7px 25px !important;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: @base !important;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  border-radius: 2px !important;
}

.dropdown-menu {
  border-radius: 2px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
  height: 50px;
  line-height: 40px;
}

.modal-body-error {
  word-wrap: break-word !important;
  max-width: 500px;
  overflow: auto !important;
  max-height: 400px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

button.btn.danger-button {
  background-color: @danger !important;
}

.creation-button {
  border: #d0d0d0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  background-color: #d0d0d0;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}

.loading-windows {
}

.thiki-menu-ico {
  height: 20px;
  width: 15px;
  line-height: 20px;
  font-size: 11px;
  color: #525252;
}

.dropdown-menu > li > a {
  font-weight: 100 !important;
  font-size: 12px !important;
  padding: 0px 20px !important;
  line-height: 30px !important;;
  height: 30px !important;;
}

.modal-title {
  font-weight: lighter !important;
}

label {
  font-weight: 100 !important;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
  border-color: @danger !important;
  box-shadow: 0 0 5px @danger !important;
  -webkit-box-shadow: 0 0 5px @danger !important;
  -moz-box-shadow: 0 0 5px r @danger !important;
}

.alert {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.alert, .thumbnail {
  margin-bottom: 10px !important;
}

.badge {
  min-width: 30px !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.dropdown-menu > li > a {
  text-align: left;
}

.modal-dialog.modal-lg {
  margin-top: 80px !important;
}

label.col-sm-1 {
  text-align: right;
}

.modal-open .modal {
  overflow: hidden !important;
}

.loading-message.ng-binding {
  text-align: center;
  margin-bottom: 20px;
  background-color: transparent !important;
  color: #fff;
  float: left;
  width: 100%;
}

div#loading {
  margin-left: 16px;
  width: 198px;
  height: 200px;
  float: left;
}

.modal-body.loading-body.ng-scope {
  width: 220px;
  height: 200px;
  margin-left: 25%;
}

.panel {
  border-radius: 2px !important;
}

.tooltip-default {
  text-align: left;
  padding: 5px;
}

.popover {
  box-shadow: none !important;
  border-radius: 2px !important;
}

#toast-container > .toast-info {
  background-image: none !important;
}

#toast-container > div {
  box-shadow: none !important;
}

.toast-info, .toast-wait {
  background-color: @base !important;
}

.thiki-button-gray:hover {
  background-color: #efefef;
}

.thiki-button-gray {
  background-color: #f3f3f3;
}

span.thiki-form-required {
  color: @danger;
  margin-left: 2px;
}

[type=checkbox]:checked + label:before, [type=checkbox]:not(:checked) + label:before {
  background: #ffffff !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.ns-popover-tooltip {
  float: left;
]
}