/* app css stylesheet */

@font-face {
    font-family: 'thiki';
    src: url('sourcehansanscn-light.ttf');
}

:root {
    --theme-color: #6495ed;
}

body {
    width: 100%;
    height: 100%;
    font-family: thiki !important;
    padding-top: 0px !important;
}

body > a {
    color: black;
}

div#kanban-top {
    width: 100%;
    height: 50px;
    background: var(--theme-color) !important;
}

.view-frame {
    height: 100%;
    position: fixed;
    width: 100%;
}

button.btn.btn-primary {
    background: none;
    border: 1px solid white;
}

.input-group {
    float: left;
}

.btn-group {
    margin-left: 10px;
}

div#search {
    width: 15%;
    float: right;
    margin: 10px;
}

#search .form-control {
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    background-color: rgba(227, 245, 236, 1);
    border: 1px solid rgba(227, 245, 236, 1);
    border-radius: 20px;
}

button.btn.btn-primary {
    background: var(--theme-color);
    border: 1px solid #EEECE8;
}

.thiki-menu {
    border: 1px solid red;
    margin: 5px;
}

.thiki-menu-items {
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    border-shadow: 0px !important;
    border: none !important;
    background-color: #F8F6F2 !important;
}

.thiki-menu-item {
    margin: auto 5px;
    cursor: pointer;
    text-align: center;
}

.thiki-menu-item :hover {
    background-color: var(--theme-color) !important;
    border-radius: 3px;
    color: white !important;
}

button.thiki-submit-button {
    margin: 0 auto 0 10px;
    float: left;
}

.thiki-cancel-button {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 2px auto auto 30px;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: none !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 !important;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border: none !important;
    border-radius: 2px;
}

.thiki-delete-button {
    background-color: #d43f3a !important;
}

.thiki-warning-button {
    background-color: #d43f3a !important;
}

.thiki-delete-item :hover {
    background-color: #d43f3a !important;
}

.thiki-warning-button :hover {
    background-color: #d43f3a !important;
}

.thiki-form-buttons {
    float: left;
}

.editable-text .editable-buttons {
    float: none !important;
    margin-top: 0px !important;
}

span.editable-buttons {
    float: left !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: black !important;
    border-bottom: none !important;
}

form.form-inline.editable-wrap.editable-textarea.ng-pristine.ng-valid.ng-scope {
    width: 100%;
}

.editable-controls.form-group {
    width: inherit;

}

textarea.editable-input.form-control.ng-pristine.ng-valid.ng-touched {
    width: 100%;
}

textarea.editable-input.form-control {
    width: 100%;
}

.editable-click:hover {
    color: black !important;
}

.editable-cancel-button {
    border: none;
}

.form-control {
    border-radius: 2px !important;
}

.btn {
    border-radius: 2px !important;
}

.dropdown-menu {
    min-width: 120px !important;
}

div#thiki-logo {
    height: 50px;
    position: absolute;
    line-height: 50px;
    margin-left: 10px;
}

div#thiki-logo img {
    height: 40px;
}

div#thiki-banner {
    width: 100%;
    height: 50px;
    background: var(--theme-color) !important;
}

.has-error .form-control {
    border-color: #ea4440 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline {
    color: #ea4440 !important;
}

span.thiki-input-error-message {
    float: left;
    margin-top: 5px;
    color: red;
    padding: 5px;
    border-radius: 2px;
}

.thiki-button-large {
    height: 40px;
    width: 90px;
}

div.validation-error-message {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #911;
    font-size: 12px;
    width: 100%;
    border: 1px solid #bac6d3;
    min-height: 35px;
    padding: 5px;
    background: #f9dbdb;
    border-radius: 3px;
    line-height: 35px;
}

.has-feedback .form-control-feedback {
    right: 12px !important;
    top: 0px;
}

.aside .aside-dialog .aside-header {
    background: var(--theme-color) !important;
}

.modal {
    z-index: 2000 !important;
}

.form-control {
    -webkit-box-shadow: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}
