<div class="task-create entry-item" data-type="text">
    <div class="task-create-button" ng-click="showCreateTaskForm()" ng-show="displayCreationButton">
        +
    </div>
    <form name="createNewTaskForm" class="create-task-form" ng-show="displayForm">
        <div class="input-group task-create-task-div">
            <textarea name="summary" rows="3" class="form-control task create-task-title" data-ng-model="summary"
                      required ng-keydown="keyPress($event)"/>
        </div>
        <div class="create-task-form-buttons">
            <button type="button" class="create-task-form-button btn btn-primary"
                    ng-click="createTask()" ng-disabled="createNewTaskForm.summary.$invalid">
                创建 </span>
            </button>
            <div class="create-task-form-cancel-button"
                 ng-click="cancelCreateTask()">取消
            </div>
        </div>
    </form>
</div>
