<div class="tasks" ui-sortable="sortableOptions" data-ng-model="tasks">
    <div class="task" ng-repeat="task in tasks |orderBy:'orderNumber' ">
        <div class="task-summary" editable-textarea="task.summary">{{task.summary}}</div>
        <div class="task-operations">
            <div class="dropdown task-menu">
                <button class="dropdown-toggle " type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span>...</span>
                </button>
                <ul class="thiki-menu-items dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li role="separator" class="divider"></li>
                    <li class="thiki-menu-item"><a ng-click="open(task.summary,task._links.self.href)">删除</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
