<navigation-banner>
    <dashboard-entrance><span class="back-to-myprojects" ng-controller="projectController" ng-click="toMyProjects()">我的项目</span>
        |
    </dashboard-entrance>
    <project-banner></project-banner>
</navigation-banner>

<div class="members">
    <uib-tabset>
        <uib-tab index="0" heading="基本信息">
            <div class="tab-project-basic-info">
                <form name="projectForm" novalidate>
                    <div class="form-group">
                        <label for="projectName">名称</label>
                        <input id="projectName" name="projectName" type="text" class="form-control"
                               data-ng-model="project.name"
                               placeholder="项目名称" autocomplete="off"
                               required/>
                        <div class="validation-error-message"
                             ng-show="projectForm.projectName.$error.required && projectForm.projectName.$dirty">请输入项目名称
                        </div>
                    </div>
                </form>
                <div class="tab-members-invitation-button">
                    <button class="btn btn-primary" type="button" ng-click="saveProject()"
                            ng-disabled="!projectForm.$dirty">
                        保存
                    </button>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="成员">
            <div class="tab-members">
                <member ng-repeat="member in members" member="member" data-ng-model="member"></member>
            </div>
            <div class="tab-members-invitation-button">
                <button class="btn btn-primary" type="button" ng-click="openInvitationForm()">
                    邀请成员
                </button>
            </div>
        </uib-tab>
    </uib-tabset>

    <div id="leave-project">
        <div id="leave-project-button-wrap">
            <button class="btn btn-primary danger-button" type="button" ng-click="openLeaveProjectDialog()"
                    ng-disabled="loginForm.$invalid">
                离开项目
            </button>
        </div>
    </div>
</div>
