.teams {
  border-radius: 3px;
  width: 100%;
  float: left;
  margin: 40px;
}

.team-item {
  border: 1px solid #e8e8ea;
  background: #ffffff;
  width: 200px;
  height: 80px;
  margin: 10px;
  text-align: center;
  line-height: 80px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}

div.team-item :hover {
  background-color: #eeece8;
}

.team-banner {
  background: #f9f8f6;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: black;
}

#toTeams {
  cursor: pointer;
  margin-left: 15px;
  float: left;
}

a#toTeams {
  color: black;
}

.team-creation {
  border: 1px dashed #e8e8ea;
  color: darkgray;
  :hover {
    color: black;
  }
}

.creation-box {
  background: #ffffff;
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  float: left;
}

#team-name {
  margin-left: 10px;
  float: left;
}

.team-operation-menu {
  float: left;
  line-height: 36px;
}

#team-options {
  height: 40px;
}

.member-item {
  border: 1px solid #ccc;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  margin: 10px;
  border-radius: 2px;
  font-size: 16px;
  cursor: default;
}

.member-item :hover {
  background-color: @base;
  color: white;
  border: 1px solid white;
}

.members.ng-scope {
  margin: 50px;
}

.accept-invitation-button {
  background-color: #00aa5b;
}

.reject-invitation-button {
  background-color: #00aa5b;
}

.team-member-avatar {
  width: 70px;
  float: left;
  text-align: center;
  height: 70px;
}

img.team-member-avatar-img {
  height: 60px;
}

.team-member-item {
  height: 100px;
  float: left;
  margin-left: 10px;
}

.team-member-userName.ng-binding {
  float: left;
  height: 20px;
  border: 1px solid;
  width: 70px;
  text-align: center;
  background: #101010;
  border-radius: 10px;
  color: #fff;
  line-height: 17px;
  clear: both;
  font-size: 12px;
}

.team-panel {
  border-color: fade(@base, 30%) !important;
}

.team-panel-heading {
  background: fade(@base, 30%) !important;
  border-color: fade(@base, 30%) !important;
  color: white !important;
}

.tab-members.ng-scope {
  height: 120px;
  padding-top: 15px;
}

.tab-members-invitation-button.ng-scope {
  margin: 10px;
}

.tab-team-basic-info.ng-scope {
  padding: 10px;
  width: 300px;
}

.back-to-myteams {
  cursor: pointer !important;
}

div#leave-team {
  height: 35px;
  width: 100%;
  float: left;
  margin-top: 10px;
}

div#leave-team-button-wrap {
  float: right;
}
