.assignments {
  float: left;
  width: 99%;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  margin: 5px 5px 7px;
  max-height: 100px;
}

.assignment {
  background: #f9f9f9;
  width: 25px;
  float: left;
}

.ng-isolate-scope .assignment-avatar {
  height: 20px;
  width: 20px;
  float: left;
  margin-left: 2px;
}

.ng-isolate-scope .assignment-avatar {
  height: 23px;
  width: 23px;
  float: left;
  margin-right: 3px;
}

.assignment-avatar.avatar {
  margin-right: 3px;
}

.assignment-avatar .avatar-img {
  width: 21px;
  height: 21px;
}
