<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form name="loginForm">
        <div class="form-group">
            <input name="identity" type="text" class="form-control" data-ng-model="identity"
                   ng-keydown="keyPress($event)" focus="displayForm" placeholder="你的注册邮箱" required/>
            <div class="validation-error-message"
                 ng-show="loginForm.identity.$error.required && loginForm.identity.$dirty">邮箱/用户名不能为空
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="login()" ng-disabled="loginForm.$invalid">下一步</button>
</div>

