<div class="modal-header">
    <h3 class="modal-title">密码重置</h3>
</div>
<div class="modal-body">
    <form name="passwordForm">
        <div class="form-group">
            <input name="password" type="password" class="form-control" data-ng-model="password"
                   ng-keydown="keyPress($event)" placeholder="密码" ng-minlength="6" maxlength="20" required
                   ng-pattern="/^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)(?![a-zA-z\d]+$)(?![a-zA-z!@#$%^&*]+$)(?![\d!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/"/>
            <div class="validation-error-message"
                 ng-show="passwordForm.password.$error.required && passwordForm.password.$dirty">密码不能为空
            </div>
            <div class="validation-error-message"
                 ng-show="passwordForm.password.$error.pattern && passwordForm.password.$dirty">
                密码必须含有数字、字母以及特殊字符
            </div>
            <div class="validation-error-message"
                 ng-show="passwordForm.password.$error.minlength && passwordForm.password.$dirty">
                密码至少6个字符
            </div>
        </div>
        <div class="form-group">
            <input name="passwordConfirm" type="password" class="form-control" data-ng-model="passwordConfirm"
                   data-password-verify="password"
                   ng-keydown="keyPress($event)" placeholder="确认密码" ng-minlength="6" maxlength="20" required
                   ng-pattern="/^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)(?![a-zA-z\d]+$)(?![a-zA-z!@#$%^&*]+$)(?![\d!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/"/>
            <div class="validation-error-message"
                 ng-show="passwordForm.passwordConfirm.$error.required && passwordForm.passwordConfirm.$dirty">
                请再次输入你的密码
            </div>
            <div class="validation-error-message"
                 ng-show="passwordForm.passwordConfirm.$error.pattern && passwordForm.passwordConfirm.$dirty">
                密码必须含有数字、字母以及特殊字符
            </div>
            <div class="validation-error-message"
                 ng-show="passwordForm.passwordConfirm.$error.minlength && passwordForm.passwordConfirm.$dirty">
                密码至少6个字符
            </div>
            <div class="validation-error-message"
                 ng-show="passwordForm.passwordConfirm.$error.passwordVerify">
                两次密码输入不一致
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="login()" ng-disabled="sendVerificationCodeForm.$invalid">
        完成
    </button>
</div>

