
.filter-radio-group {
  width: 100%;
  padding-left: 10px;
}

.banner-filter {
  background: 0 0;
  width: 200px !important;
}

.banner-filter-input {
  height: 30px !important;
  margin-right: -5px;
  width: 150px;
  border-left: none !important;
  margin-left: -3px;
}

.banner-filter button.btn.btn-default {
  height: 30px;
  padding: 0 10px;
  background: #2fbacd;
  color: white;
  border: none;
  margin-right: -2px;
}

.ng-pageslide {
  background-color: #f9f8f6
}

.filter-group {
  background: whitesmoke;
  min-height: 60px;
  border-radius: 2px;
  float: left;
}

.filter-group-name {
  background-color: @base;
  height: 25px;
  border-radius: 1px;
  color: white;
  padding-left: 5px;
  font-size: 12px;
  line-height: 25px;
}

.advanced-filter {
  position: absolute;
  right: 0;
  z-index: 10;
  margin-top: 40px;
  width: 240px;
  min-height: 90vh;
  background: #f9f8f6;
}

.cards-filter {
  width: 290px;
  height: 40px;
  float: right;
}