a {
    cursor: pointer;
}

div#send-verification-code-button {
    margin-top: 10px;
}

div#message {
    color: green;
    font-size: 16px;
    text-align: center;
}

.timerMessage {
    text-align: center;
}
