<div id="thiki-banner" ng-controller="bannerController" data-ng-init="init()">
    <div id="thiki-logo">
        <img src="static/img/thiki-logo.png">
    </div>
    <div id="user" class="dropdown" ng-controller="userController">
        <div id="user-avatar" ng-show="avatar!=null" class="dropdown" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false" ng-controller="profileController"><img id="user-avatar-img" ng-src="{{avatar}}"/>
        </div>

        <div id="unreadNotificationsTotal">
            <span class="badge notification-badge" ng-show="isShowNotification">{{unreadNotificationsTotal}}</span>
        </div>
        <ul class="user-menu dropdown-menu thiki-menu-items" aria-labelledby="user-menu">
            <li><a ng-click="gotoTeams()">我的团队</a></li>
            <li><a ng-click="openNotifications(notificationsLink)">我的消息</a></li>
            <li><a ng-click="openProfile()">个人资料</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="loginOut()">退出登录</a></li>
        </ul>
    </div>
</div>
