<div class="entry" ng-repeat="entry in entries | orderBy:'creationTime'" repeat-finish>
    <div id="entry-{{entry.id}}" class="entry-item entryTitle" data-type="text" data-ng-model="entry.title"
         data-mode="inline">
        {{entry.title}}
    </div>
    <div class="tasks" ui-sortable="sortableOptions" ng-model="entry.tasks" entry="{{entry}}">
        <div class="task" entry="{{entry}}"
             ng-repeat="task in entry.tasks | filter:{entryId:entry.id}"
             entryId="{{entry.id}">
            <span class="task-title">{{task.summary}}</span>
        </div>
    </div>
    <div class="task-create entry-item" data-type="text" data-ng-model="entry.title" data-mode="inline">
        <div id="task-create-button-{{encode(entry._links.self.href)}}" class="task-create-button"
             ng-click="showCreateTaskForm(encode(entry._links.self.href))">
            +
        </div>
        <form id="task-create-form-{{encode(entry._links.self.href)}}"
              name="createNewTaskForm{{encode(entry._links.self.href)}}"
              class="create-task-form">
            <div class="input-group task-create-task-div">
                <textarea id="{{encode(entry._links.self.href)}}-title" name="title" rows="3"
                          class="form-control task create-task-title" data-ng-model="title"
                          required/>
            </div>
            <div class="create-task-form-buttons">
                <button type="button" class="create-task-form-button btn btn-primary"
                        ng-click="createTask(entry._links.self.href,entry._links.tasks.href)"
                        ng-disabled="createNewTaskForm{{encode(entry._links.self.href)}}.title.$invalid">
                    创建 </span>
                </button>
                <div class="create-task-form-cancel-button"
                     ng-click="cancelCreateTask(encode(entry._links.self.href))">取消
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <div id="create-new-entry">
        <div id="create-new-entry-button" ng-click="showCreateEntryForm()">+</div>
        <form id="create-new-entry-form" name="createNewEntryForm" class="create-entry-form">
            <div class="input-group">
                <input name="title" type="text" class="form-control" data-ng-model="entry.title" required/>
            </div>
            <div class="create-entry-form-buttons">
                <button type="button" class="create-entry-form-button btn btn-primary" ng-click="createEntry()"
                        ng-disabled="createNewEntryForm.title.$invalid">
                    创建 </span>
                </button>
                <div class="create-entry-form-cancel-button" ng-click="cancelCreateEntry()">取消</div>
            </div>
        </form>
    </div>
</div>
