<div>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="title"/>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="createEntry()">
                创建 </span>
            </button>
        </div>
    </form>
</div>

<div class="entries" ng-repeat="entry in entries">
    <div class="entry" ng-init="loaded(entry.id)">
        <a>{{entry.title}}</a>

        <div  class="tasks" ui-sortable="sortableOptions">
            <div class="task" ng-repeat="task in entry.tasks">
                <a href="#/phones/{{task.id}}">{{task.title}}</a>
            </div>
        </div>
    </div>
</div>
