<div>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="title"/>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="createTask()">
                创建 </span>
            </button>
        </div>
    </form>
</div>
<div id="tasks-todo" class="tasks" ui-sortable="sortableOptions">
    <div class="task" ng-repeat="task in tasks | filter:{status:0}">
        <a href="#/phones/{{task.id}}">{{task.title}}</a>
    </div>
</div>

<div id="tasks-doing" class="tasks" ui-sortable="sortableOptions">
    <div class="task" ng-repeat="task in tasks | filter:statusFilter.status">
        <a href="#/phones/{{task.id}}">{{task.title}}</a>
    </div>
</div>

<div id="tasks-done" class="tasks" ui-sortable="sortableOptions">
    <div class="task" ng-repeat="task in tasks | filter:{status:2}">
        <a href="#/phones/{{task.id}}">{{task.title}}</a>
    </div>
</div>
