<navigation-banner>
    <dashboard-entrance></dashboard-entrance>
    <div>消息中心</div>
</navigation-banner>
<div class="notifications" ng-controller="notificationController">
    <div id="notification-{{notification.id}}" ng-repeat="notification in notifications | orderBy:'creationTime'"
         repeat-finish class="notification-item"
         data-ng-model="notification.content" data-mode="inline">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{notification.content}}</h4>
            <p class="list-group-item-text">...</p>
        </a>
    </div>
</div>
