<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3 class="modal-title">{{stage.title}}</h3>
</div>
<div class="modal-body">
    <div stageId="{{stage.id}}" class="stage-full-screen" ng-mouseover="onStageMenuMouseOver($event)"
         ng-mouseleave="onStageMenuMouseLeave($event)">
        <cards stage="stage"/>
    </div>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="finishCardsOperation()">完成</button>
</div>
