<div id="stage-{{stage.id}}" stageId="{{stage.id}}" stageClone="{{stage}}"
     class="stage-item"
     ng-mouseover="onStageMenuMouseOver($event)">
    <div class="stage-wrap">
        <div class="stage-title" data-type="text">
            <span class="thiki-menu-ico stage-ico glyphicon glyphicon-th" ng-show="stage.type==0"></span>
            <span class="thiki-menu-ico stage-ico glyphicon glyphicon-circle-arrow-right"
                  ng-show="stage.type==1&&stage.status!=9&&stage.wipLimit===stage.cards.cards.length"
                  ng-class="{'in-process':stage.wipLimit===stage.cards.cards.length}"
                  uib-tooltip="已达限额"
                  tooltip-placement="left"
                  tooltip-trigger="mouseenter"></span>

            <span class="thiki-menu-ico stage-ico glyphicon glyphicon-circle-arrow-right"
                  ng-show="stage.type==1&&stage.status!=9&&stage.wipLimit>stage.cards.cards.length"
                  ng-class="{'in-process':stage.wipLimit===stage.cards.cards.length}"
                  uib-tooltip="卡片未达到限额，尚有剩余生产力"
                  tooltip-placement="left"
                  tooltip-trigger="mouseenter"></span>

            <span class="thiki-menu-ico stage-ico glyphicon glyphicon-ok-sign"
                  ng-show="stage.type==1&&stage.status==9"></span>
            <span class="thiki-menu-ico stage-ico glyphicon glyphicon-briefcase"
                  ng-show="stage.archived"></span>
            {{stage.title}}
            <span class="badge stage-cards-length">{{cardsCount}}</span>
        </div>
        <div class="dropdown stage-menu thiki-animation">
            <span class="stage-menu-ico dropdown-toggle glyphicon glyphicon-tasks" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true"></span>
            <ul class="thiki-menu-items dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="thiki-menu-item" ng-hide="stage.archived">
                    <a ng-click="scrollToCardCreation()">
                        <span class="thiki-menu-ico glyphicon glyphicon-file"></span>新建卡片
                    </a>
                </li>
                <li class="thiki-menu-item">
                    <a ng-click="toFullScreen()">
                        <span class="thiki-menu-ico glyphicon glyphicon-fullscreen"></span>全屏
                    </a>
                </li>
                <li class="thiki-menu-item" ng-hide="stage.archived">
                    <a ng-click="openStageConfiguration()">
                        <span class="thiki-menu-ico glyphicon glyphicon-cog"></span>配置
                    </a>
                </li>
                <li role="separator" class="divider" ng-hide="stage.archived"></li>
                <li class="thiki-menu-item thiki-delete-item" ng-hide="stage.archived">
                    <a ng-click="openModal(stage.title,stage._links.self.href)">
                        <span class="thiki-menu-ico glyphicon glyphicon-trash"></span>删除
                    </a>
                </li>
            </ul>
        </div>
        <cards stage="stage" board="board"/>
    </div>
</div>
