.boards {
  border-radius: 3px;
  width: 100%;
  float: left;
  margin: 40px;
}

.board-item {
  border: 1px solid #e8e8ea;
  background: #ffffff;
  width: 200px;
  height: 80px;
  margin: 10px;
  text-align: center;
  line-height: 80px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}

div.board-item :hover {
  background-color: #eeece8;
}

.board-banner {
  background: #f9f8f6;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: black;
}

#toBoards {
  cursor: pointer;
  margin-left: 15px;
  float: left;
}

a#toBoards {
  color: black;
}

.board-creation {
  border: 1px dashed #e8e8ea;
  color: darkgray;
  :hover {
    color: black;
  }
}

.creation-box {
  background: #ffffff;
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  float: left;
}

#board-name {
  margin-left: 10px;
  float: left;
}

.board-operation-menu {
  float: left;
  line-height: 36px;
}

#board-options {
  height: 40px;
}

.board-team.ng-binding {
  width: 198px;
  background: #fcf8e3;
  position: fixed;
  float: left;
  height: 20px;
  border-radius: 2px;
  line-height: 20px;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
}

.board-personal {
  width: 198px;
  background: #dff0d8;
  position: fixed;
  float: left;
  height: 20px;
  border-radius: 2px;
  line-height: 20px;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
}

textarea.form-control {
  height: auto;
  border: none;
  background: #fcf8e3;
}

.modal-board {
  width: 500px !important;
  height: 420px !important;
}

#board-creation-types-selection {
  width: 90%;
  min-height: 100px;
  height: auto;
}

.board-creation-type {
  height: 80px;
  width: 150px;
  float: left;
  text-align: center;
  border: 1px solid #e8e8ea;
  border-radius: 3px;
  cursor: pointer;
  line-height: 80px;
  margin: 10px;
}

.board-creation-type:hover {
  background-color: #eeece8;
}

.board-type-glyphicon {
  color: @base;
  margin-right: 5px !important;
}
