.boards {
    border-radius: 3px;
    width: 100%;
    float: left;
    margin: 40px;
}

.board-item {
    border: 1px solid #e8e8ea;
    background: #fff;
    width: 200px;
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}

div.board-item :hover {
    background-color: #eeece8;
}

.board-banner {
    background: #F9F8F6;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: black;
}

#toBoards {
    cursor: pointer;
    margin-left: 15px;
    float: left;
}

a#toBoards {
    color: black;
}

.board-creation {
    border: 1px dashed #e8e8ea;
    color: darkgray;
}

.board-creation :hover {
    color: black;
}

.creation-box {
    background: #fff;
    width: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 3px;
    float: left;
}

#board-name {
    margin-left: 10px;
    float: left;
}

.board-operation-menu {
    float: left;
    line-height: 36px;
}

#board-options {
    height: 40px;
}
