.boards {
    border-radius: 3px;
    width: 100%;
    float: left;
}

.board-item {
    border: 1px solid #e8e8ea;
    background: #fff;
    width: 200px;
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}

div.board-item :hover {
    background-color: #eeece8;
}

.board-banner {
    background: #EEECE8;
    height: 33px;
    line-height: 33px;
    text-indent: 5px;
    font-size: 15px;
}

#toBoards {
    cursor: pointer;
}

.board-creation {
    border: 1px dashed #e8e8ea;
    color: darkgray;
}

.board-creation :hover {
    color: black;
}

.creation-box {
    background: #fff;
    width: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 3px;
    float: left;
}
