div#current-user-avatar {
    float: right;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    width: 35px;
    margin-top: 7px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    background: white;
}
