div#avatar-area {
  height: 500px !important;
  position: absolute;
  width: 70%;
  float: left;
}

div#avatar-crop {
  height: 355px;
  float: left;
  width: 420px;
}

div#avatar-preview {
  float: left;
  width: 250px;
  padding: 30px;
}

.user-profile {
  min-height: 400px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  height: 0px;
  width: 50px;
  filter: alpha(opacity=0);
  opacity: 0;
}

#avatar-crop-preview {
  width: 800px;
  height: 320px;
  margin: 10px;
}
