<div id="create-new-entry">
    <div id="create-new-entry-button" ng-click="showCreateEntryForm()" ng-show="displayCreationButton">+</div>
    <form id="create-new-entry-form" name="createNewEntryForm" class="create-entry-form" ng-show="displayForm">
        <div class="input-group">
            <input name="title" type="text" class="form-control" data-ng-model="title"
                   ng-keydown="keyPress($event)" required focus="displayForm" ng-blur="blur()" autocomplete="off"/>
        </div>
        <div class="create-entry-form-buttons">
            <button type="button" class="create-entry-form-button btn btn-primary" ng-click="createEntry()"
                    ng-disabled="createNewEntryForm.title.$invalid">
                创建 </span>
            </button>
            <div class="create-entry-form-cancel-button" ng-click="cancelCreateEntry()">取消</div>
        </div>
    </form>
</div>
