<div class="acceptanceCriteria">
    <div class="is-finished">
        <input type="checkbox" id="acceptanceCriteria-checkbox-{{acceptanceCriteria.id}}"
               ng-model="acceptanceCriteria.finished" ng-disabled="procedure.archived"/>
        <label for="acceptanceCriteria-checkbox-{{acceptanceCriteria.id}}"></label>
    </div>
    <div class="acceptanceCriteria-summary" ng-class="
         acceptanceCriteria.finished===true?'finished' : ''"
         data-type="text" e-rows="3" e-cols="30" e-maxlength="200" editable-textarea="acceptanceCriteria.summary"
         e-ng-click="open($event,'$data')" onbeforesave="updateAcceptanceCriteria($data,acceptanceCriteria)"
         ng-hide="procedure.archived">
        {{acceptanceCriteria.summary}}
    </div>

    <div class="acceptanceCriteria-summary" ng-class="
         acceptanceCriteria.finished==true?'finished' : ''"
         data-type="text" ng-show="procedure.archived">
        {{acceptanceCriteria.summary}}
    </div>

    <div class="acceptanceCriteria-delete" ng-mouseover="onMouseOver($event)"
         ng-mouseleave="onMouseLeave($event)">
        <span class="glyphicon glyphicon-remove-sign" ng-show="isShowDeleteButton"
              ng-click="deleteAcceptanceCriteria()"></span>
    </div>
</div>

