<div class="acceptanceCriteria">
    <div class="is-finished">
        <switch id="enabled" name="enabled" ng-model="acceptanceCriteria.finished" class="green"></switch>
    </div>
    <div class="acceptanceCriteria-summary" ng-class="
         acceptanceCriteria.finished==true?'finished' : ''"
         data-type="text" e-rows="3" e-cols="30" e-maxlength="200" editable-textarea="acceptanceCriteria.summary"
         e-ng-click="open($event,'$data')"
         onbeforesave="updateAcceptanceCriteria($data,acceptanceCriteria)"> {{acceptanceCriteria.summary}}
    </div>
    <div class="acceptanceCriteria-delete" ng-mouseover="onMouseOver($event)"
         ng-mouseleave="onMouseLeave($event)">
        <span class="glyphicon glyphicon-trash" ng-show="isShowDeleteButton"
              ng-click="deleteAcceptanceCriteria()"></span>
    </div>
</div>

