<div class="card-creation thiki-animation" data-type="text" id="card-creation-{{procedure.id}}">
    <form name="createNewCardForm" class="create-card-form" ng-show="procedure.isShowCardCreation">
        <div class="input-group card-create-card-div">
            <textarea name="summary" rows="3" class="form-control create-card-title" data-ng-model="summary"
                      required ng-keydown="keyPress($event)" focus="procedure.isShowCardCreation"/>
        </div>
        <div class="create-card-form-buttons">
            <button type="button" class="create-card-form-button btn btn-primary"
                    ng-click="createCard()"
                    ng-disabled="createNewCardForm.summary.$invalid || createNewCardForm.summary.$modelValue.length>50||isDisableCardCreationButton">
                {{cardCreationButtonText}} </span>
            </button>
            <div class="create-card-form-cancel-button"
                 ng-click="cancelCreateCard()">取消
            </div>
        </div>
    </form>
</div>
