<div class="card" ng-mouseover="mouseover($event)"
     ng-mouseleave="onMouseLeave($event)">
    <div class="card-code-label" ng-show="card.code!=undefined&&card.code!=''">
        <span>{{card.code}}</span>
    </div>
    <div class="card-summary" ng-click="openCardConfiguration()">
        {{card.summary}}
    </div>

    <div class="card-operations">
        <assignments></assignments>
        <div class="dropdown card-menu" ng-show="isShowCardOperationMenu">
            <button class="dropdown-toggle card-options-menu-button" type="button" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true">
                <span>...</span>
            </button>
            <ul class="thiki-menu-items dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="thiki-menu-item"><a ng-click="assign(card)">{{assignTip}}</a></li>
                <li role="separator" class="divider"></li>
                <li class="thiki-menu-item thiki-delete-item"><a
                        ng-click="openDeleteModal(card.summary,card._links.self.href)">删除</a></li>
            </ul>
        </div>
    </div>

    <div class="card-progress" ng-if="card.totalAcceptanceCriteriasCount>0">
        <uib-progressbar max="card.totalAcceptanceCriteriasCount"
                         value="card.finishedAcceptanceCriteriasCount" animate="true"
                         ng-class="card.finishedAcceptanceCriteriasCount==0?'':'process-unstart'"></uib-progressbar>
    </div>
</div>
