<div id="card-{{card.id}}" class="card" ng-class="[{'new-card':card.isNew},{'not-sortable': procedure.archived}]"
     context-menu="menuOptions"
     context-menu-class="thiki-menu-items">
    <div class="card-code-label" ng-show="card.code!=undefined&&card.code!=''">
        <span>{{card.code}}</span>
    </div>
    <div class="card-summary" ng-click="openCardConfiguration()">
        {{card.summary}}
    </div>

    <div class="card-operations">
        <assignments></assignments>
        <card-tags-small></card-tags-small>
    </div>

    <div class="card-progress" ng-if="card.totalAcceptanceCriteriasCount>0">
        <uib-progressbar ng-repeat="n in [].constructor(card.totalAcceptanceCriteriasCount) track by $index"
                         max="index"
                         value="$index"
                         animate="true"
                         ng-style="{'width':calculateWidth(card.totalAcceptanceCriteriasCount)}"
                         ng-class="$index < card.finishedAcceptanceCriteriasCount?'':'process-unstart'">
        </uib-progressbar>
    </div>
</div>
