<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-cog"></span>
        卡片配置
    </h3>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab index="0">
            <uib-tab-heading>
                <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-list-alt"></span>
                基本信息
            </uib-tab-heading>
            <div class="tab-card-basic-info">
                <form name="cardForm" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="code" class="col-sm-1">编号</label>
                        <div class="col-sm-10">
                            <input id="code" name="code" type="text" class="form-control card-code"
                                   data-ng-model="card.code" autocomplete="off" ng-disabled="procedure.archived"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cardSummary" class="col-sm-1">概要描述</label>
                        <div class="col-sm-10">
                        <textarea id="cardSummary" name="cardSummary" rows="3" class="form-control"
                                  data-ng-model="card.summary"
                                  focus="true" placeholder="卡片概要" autocomplete="off"
                                  required ng-disabled="procedure.archived"/>
                            <div class="validation-error-message"
                                 ng-show="cardForm.cardSummary.$error.required && cardForm.invitee.$dirty">请填写卡片概述
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-1">内容</label>
                        <div class="col-sm-10">
                            <div class="card-content" ng-bind-html="card.content" ng-show="procedure.archived"></div>
                            <div class="card-content" ng-model="card.content" ng-hide="procedure.archived" text-angular
                                 toolbar="toolbar"></div>
                            <div class="card-content-full-screen-button"
                                 ng-click="displayContentInFullScreen()"
                                 uib-tooltip="全屏演示卡片内容"
                                 tooltip-placement="right"
                                 tooltip-trigger="mouseenter">
                                <span class="thiki-menu-ico glyphicon glyphicon-fullscreen"></span>全屏演示
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>

                <div class="tab-card-configuration-save" ng-hide="procedure.archived">
                    <button class="btn btn-primary" type="button" ng-click="saveCard()"
                            ng-disabled="(!cardForm.$dirty)||cardForm.$invalid||isDisableCardSaveButton">
                        {{cardSaveButton}}
                    </button>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-list"></span>
                验收标准<span class='badge comment-badge'
                          ng-show='acceptanceCriteriasCount>0'
                          ng-class="finishedAcceptanceCriteriasCount==acceptanceCriteriasCount?'acceptance-criteria-all-finished-badge':'acceptance-criteria-un-finished-badge'">{{finishedAcceptanceCriteriasCount}}/{{acceptanceCriteriasCount}}</span>
            </uib-tab-heading>
            <div class="tab-acceptance-criterias">
                <acceptance-criterias card="card" procedure="procedure"/>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-tags"></span>
                标签<span class='badge comment-badge' ng-show='tagsCount>0'>{{tagsCount}}</span>
            </uib-tab-heading>
            <div class="tab-acceptance-criterias">
                <card-tags card="card" procedure="procedure"/>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-comment"></span>
                评论<span class='badge comment-badge' ng-show='commentCount>0'>{{commentCount}}</span>
            </uib-tab-heading>
            <div class="tab-comments">
                <comments card="card" procedure="procedure"/>
            </div>
        </uib-tab>
    </uib-tabset>
</div>

