<div class="comment">
    <div class="comment-avatar">
        <img class="comment-user-avatar-img" http-src="{{comment._links.avatar.href}}"/>
    </div>
    <div class="comment-summary">

        <div class="comment-creation-time">{{comment.publishTime}}</div>
        <div class="comment-summary-text">{{comment.summary}}
        </div>
    </div>
    <div class="comment-delete" ng-mouseover="onMouseOver($event)"
         ng-mouseleave="onMouseLeave($event)">
        <span class="glyphicon glyphicon-trash" ng-show="isShowDeleteButton"
              ng-click="deleteComment()"></span>
    </div>
</div>

