<div class="modal-header">
    <h3 class="modal-title">离开团队</h3>
</div>
<div class="modal-body">
    <form name="leaveForm">
        <input name="teamName" ng-model="teamName" type="text" class="form-control"
               ng-keydown="keyPress($event)" focus="displayForm" placeholder="输入你即将离开的团队的名称" autocomplete="off"
               required/>
        <div class="validation-error-message"
             ng-show="confirmForm.teamName.$error.required && confirmForm.teamName.$dirty">
            请输入团队名称
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="leaveTeam()"
            ng-disabled="leaveForm.$invalid||leaveForm.teamName.$modelValue!=team.name||isDisableLeaveButton">
        {{leaveButtonText}}
    </button>
</div>

