<div class="modal-header">
    <h3 class="modal-title">邀请加入团队</h3>
</div>
<div class="modal-body">
    <form name="invitationForm">
        <div class="form-group">
            <input name="invitation.invitee" type="text" class="form-control" data-ng-model="invitee"
                   ng-keydown="keyPress($event)" focus="true" placeholder="被邀请成员的注册邮箱/用户名" autocomplete="off"
                   required/>
            <div class="validation-error-message"
                 ng-show="invitationForm.invitee.$error.required && invitationForm.invitee.$dirty">邮箱/用户名不能为空
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="invite()"
            ng-disabled="invitationForm.$invalid||isDisableInvitationButton">{{invitationButtonText}}
    </button>
</div>

