<navigation-banner>
    <dashboard-entrance><span ng-controller="teamController" ng-click="toMyTeams('d')">我的团队</span> |
    </dashboard-entrance>
    <team-banner></team-banner>
</navigation-banner>

<div class="members">
    <div class="panel panel-warning">
        <div class="panel-heading">成员</div>
        <div class="panel-body">
            <div id="member-{{member.id}}" ng-repeat="member in members | orderBy:'creationTime'" repeat-finish
                 class="member-item"
                 data-ng-model="member.name" data-mode="inline">
                <div ng-click=toProcedures(member.id,member._links.self.href)> {{member.userName}}</div>
            </div>
        </div>
    </div>

    <button class="btn btn-default" type="button" ng-click="openInvitationForm()" ng-disabled="loginForm.$invalid">
        邀请成员
    </button>
</div>
