<div class="teams">
    <div id="team-{{team.id}}" ng-repeat="team in teams | orderBy:'creationTime'" repeat-finish class="team-item"
         data-ng-model="team.name" data-mode="inline">
        <div ng-click=toProcedures(team.id,team._links.self.href)> {{team.name}}</div>
    </div>
    <div class="team-item team-creation" data-mode="inline" ng-show="displayTeamCreationForm">
        <div data-ng-model="tip" ng-mouseover="mouseover($event)" ng-click=showTeamCreationForm()>创建新的团队</div>
    </div>
    <div ng-show="displayForm">
        <div id="create-new-entry">
            <form name="createTeamForm" class="create-team-form">
                <div class="input-group  creation-box"
                     ng-class="{'has-error': createTeamForm.name.$invalid && !createTeamForm.name.$pristine}">
                    <input name="name" type="text" class="form-control" data-ng-model="name"
                           ng-keydown="keyPress($event)" focus="displayForm" required autocomplete="off"/>
                </div>
                <div class="thiki-form-buttons">
                    <button type="button" class="thiki-submit-button btn btn-primary"
                            ng-click="createTeam()" ng-disabled="createTeamForm.name.$invalid">创建</span>
                    </button>
                    <div class="thiki-cancel-button" ng-click="cancelCreateTeam()">取消</div>
                </div>
            </form>
        </div>
    </div>
</div>
