.card {
  border: 1px solid #eaeaea;
  margin: 5px;
  background-color: #ffffff;
  position: relative;
  float: left;
  width: 95%;
}

div.card:hover {
  background-color: #f9f8f6;
}

.card-summary {
  color: #000000;
  margin: 5px;
  float: left;
  min-height: 36px;
  width: 95%;
}

.cards {
  min-height: 20px;
  border-radius: 3px;
  clear: both;
  float: inherit;
  width: inherit;
  max-height: 550px;
  overflow: auto;
}

.create-card-title {
  margin-left: 0px;
  border-radius: 3px;
}

.card-create-card-div {
  width: 100%;
}

.create-card-form-button {
  width: 120px;
  margin-top: 5px;
  float: left;
}

.create-card-form-cancel-button {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  width: 50px;
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
}

.create-card-form-buttons {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 5px;
}

div.card-create-button {
  border: #d0d0d0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  background-color: #d0d0d0;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
}

.card-operations {
  float: left;
  width: 100%;
  bottom: 0px;
  padding-right: 5px;
}

.card-menu {
  float: right;
  position: absolute;
  z-index: 1000;
  right: 0px;
}

.card-creation {
  float: left;
  margin: 5px;
}

.card-drag-placeholder {
  border: 1px solid #eaeaea;
  margin: 5px;
  background-color: #f9f8f6;
  border-radius: 3px;
  position: relative;
  float: left;
  width: 95%;
  min-height: 65px;
}
