.card {
  border: 1px solid #eaeaea;
  margin: 5px;
  background-color: #ffffff;
  position: relative;
  float: left;
  width: 95%;
}

div.card:hover {
  background-color: #f9f8f6;
}

.card-summary {
  color: #000000;
  margin: 5px;
  float: left;
  min-height: 36px;
  width: 95%;
  cursor: pointer;
}

.cards {
  min-height: 20px;
  border-radius: 3px;
  clear: both;
  float: inherit;
  width: inherit;
  max-height: 550px;
  overflow: auto;
}

.create-card-title {
  margin-left: 0px;
  border-radius: 3px;
}

.card-create-card-div {
  width: 100%;
}

.create-card-form-button {
  width: 120px;
  margin-top: 5px;
  float: left;
}

.create-card-form-cancel-button {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  width: 50px;
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
}

.create-card-form-buttons {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 5px;
}

div.card-create-button {
  border: #d0d0d0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  background-color: #d0d0d0;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
}

.card-operations {
  float: left;
  width: 100%;
  bottom: 0px;
  padding-right: 5px;
  height: 30px;
}

.card-menu {
  float: right;
  position: absolute;
  z-index: 1000;
  right: 0px;
}

.card-creation {
  float: left;
  margin: 5px;
}

.card-drag-placeholder {
  border: 1px solid #eaeaea;
  margin: 5px;
  background-color: #f9f8f6;
  border-radius: 3px;
  position: relative;
  float: left;
  width: 95%;
  min-height: 65px;
}

.tab-card-basic-info {
  width: 98%;
  margin: 0 5px 5px;
  min-height: 135px;
}

.tab-card-configuration-save {
  margin-bottom: 10px;
  margin-left: 5px;
  float: left;
  height: 42px;
  margin-top: 10px;
}

.tab-card-basic-info form {
  margin-left: 5px;
  padding-top: 10px;
}

.tab-acceptance-criterias {
  padding-top: 10px;
}

.acceptanceCriteria.ng-binding.ng-scope.ng-isolate-scope {
  margin: 5px 5px 5px 10px;
  padding: 3px 3px 3px 5px;
}

.acceptanceCriterias {
  max-height: 400px;
  overflow: auto;
}

.acceptanceCriteria-summary {
  padding: 3px 3px 3px 5px;
  width: 85%;
  float: left;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 25px;
  background: #fcf8e3;
}

.is-finished {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.acceptanceCriteria.ng-scope.ng-isolate-scope {
  width: 100%;
  height: 38px;
  line-height: 38px;
}

.acceptanceCriteria-delete {
  width: 20px;
  float: left;
  color: red;
}

.is-finished {
  margin-left: 5px;
  margin-right: 5px;
  width: 44px;
  float: left;
  clear: right;
  height: 30px;
  line-height: 38px;
  margin-top: 5px;
}

.finished {
  background: #64bd63;
  color: white;
}

.acceptanceCriterias-items {
  max-height: 300px;
  float: left;
  width: 100%;
  overflow: auto;
}