.card {
  border: 1px solid #eaeaea;
  margin: 5px;
  position: relative;
  float: left;
  width: 95%;
  background: white;
  max-width: 250px;
  min-width: 200px;
}

.card-summary:hover {
  background-color: #f9f8f6;
  color: black;
}

.card-summary {
  min-height: 36px;
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
  margin: 5px;
  float: left;
  width: 95%;
  word-wrap: break-word;
  border-radius: 2px;
}

.cards {
  min-height: 20px;
  border-radius: 3px;
  clear: both;
  float: inherit;
  width: 99%;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  max-height: 1000px;
}

.create-card-title {
  margin-left: 0px;
  border-radius: 3px;
}

.card-create-card-div {
  width: 100%;
}

.create-card-form-button {
  width: 120px;
  margin-top: 5px;
  float: left;
}

.create-card-form-cancel-button {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  width: 50px;
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
}

.create-card-form-buttons {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 5px;
}

div.card-create-button {
  border: #d0d0d0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  background-color: #d0d0d0;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
}

.card-operations {
  float: left;
  width: 100%;
  bottom: 0;
  padding-right: 5px;
  margin-bottom: 3px;
}

.card-menu {
  float: left;
  z-index: 1000;
  margin-left: 5px;
  cursor: pointer;
}

.card-creation {
  float: left;
  margin: 5px;
  width: 228px;
}

.card-drag-placeholder {
  border: 1px solid #eaeaea;
  margin: 5px;
  background-color: #f9f8f6;
  border-radius: 3px;
  position: relative;
  float: left;
  width: 95%;
  min-height: 65px;
}

.tab-card-basic-info {
  width: 98%;
  margin: 10px 20px -10px;
  min-height: 135px;
  height: auto;
  display: inline-block;
}

.tab-card-configuration-save {
  margin-bottom: 10px;
  margin-left: 73px;
  float: left;
  height: 42px;
  margin-top: 10px;
}

.tab-card-basic-info form {
  margin-left: 5px;
  padding-top: 10px;
}

.comments-items {
  max-height: 450px;
  float: left;
  width: 100%;
  overflow: auto;
}

.tab-comments {
  padding-top: 10px;
}

.comment-creation {
  margin-left: 20px;
  width: 95%;
  margin-bottom: 10px;
  float: left;
  margin-top: 10px;
}

.comments {
  max-height: 470px;
  overflow: auto;
}

.comment {
  min-height: 80px;
  padding-top: 6px;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin: 7px 7px 10px;
}

.comment-avatar {
  margin: 2px 5px 5px;
  float: left;
  border-radius: 5px;
  width: 6%;
  max-width: 150px;
}

.comment-user-avatar-img {
  height: 40px;
  width: 40px;
}

.comment-creation-time.ng-binding {
  font-size: 12px;
  color: #969393;
}

.comment-summary {
  float: left;
  width: 90%;
}

.comment-summary-text.ng-binding {
  margin-right: 5px;
  padding-bottom: 10px;
  height: auto;
  font-size: 12px;
}

.comment-delete {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #fd0360;
  font-size: 12px;
}

.comment-delete span {
  cursor: pointer;
}

span.badge.comment-badge.ng-binding {
  margin-left: 5px;
}

.card-progress {
  height: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  float: left;
  width: 100%;
}

.progress-bar {
  background-color: #09ad7e !important;
  border-radius: 2px;
  width: 100% !important;
}

.progress {
  height: 3px !important;
  float: left;
  margin-right: 1px;
}

button.dropdown-toggle.card-options-menu-button {
  float: right;
  right: 0;
  cursor: pointer;
}

button.dropdown-toggle.card-options-menu-button div {
  cursor: pointer;
}

.card-code {
  width: 200px !important;
}

.card-code-label {
  margin-top: 5px;
  width: auto;
  min-width: 35px;
  float: left;
}

.card-code-label span {
  background-color: @base !important;
  padding: 2px 5px 2px 3px;
  color: #fff;
  border-radius: 1px;
  margin-left: -5px;
  font-size: 12px;
}

.card-menu-items {
  margin-top: -10px;
  position: absolute !important;
}

.stage-full-screen .card {
  width: 220px !important;
  min-height: 150px;
  margin: 10px;
}

.stage-full-screen .card-summary {
  min-height: 100px;
  max-height: 100px;
}

.stage-full-screen .card-drag-placeholder {
  width: 220px !important;
  height: 150px !important;
}

.stage-full-screen {
  width: 100%;
  height: 100%;
}

.create-card-title {
  max-height: 120px;
}

@keyframes color-animation {
  0% {
    background: #fcf8e3;
  }
  100% {
    background: white;
  }
}

.new-card {
  animation: color-animation 10s linear;
}

.finished:hover {
  cursor: default !important;
  color: #fff !important;
}

.process-unstart > .progress-bar {
  background: #999 !important;
}

span.thiki-menu-ico.glyphicon.glyphicon-heart {
  color: #ee5ba0;
  font-size: 12px;
}

.zoomInDown {
  font-size: 121px;
  text-align: center;
  color: #ee5ba0;
  line-height: 121px;
  padding-top: 15px;
  color: @base;
}

.ac-finished-tip-message {
  text-align: center;
  margin-bottom: 10px;
}

.modal-ac {
  width: 880px !important;
  height: 500px !important;
  top: 80px !important;
}

.modal-ac > .modal-content {
  background: none !important;
}

.modal-ac .modal-footer {
  border-top: none !important;
}

.modal-ac .ac-finished-tip-message {
  color: white;
  font-size: 50px
}

.modal-card {
  width: 880px !important;
  height: 700px !important;
  top: 10vh !important;
}

.modal-fs {
  height: 98vh;
  width: 700px !important;
  top: 10px !important;
}

.card-content {
  border: 1px solid #f0f0f0;
  min-height: 60px;
}

.card-content-full-screen-button {
  font-size: 12px;
  margin-top: 5px;
  cursor: pointer;
  width: 70px;
}

.card-content-full-screen-button span {
  font-size: 10px;
}

.card-content-full-screen.ng-binding {
  height: 100vh;
  margin: 10px;
}

.modal-fs .modal-content {
  height: 96vh;
  max-height: 96vh;
  overflow: scroll;
}

.modal-fs label {
  text-align: right;
  font-weight: bolder !important;
}

.card-content-html {
  height: auto;
}

label.col-sm-2.creation-time {
  max-width: 90px;
}

.card-comment {
  background: none !important;
  color: #dfdfdf !important;
  font-size: 16px !important;
}

form.create-card-form {
  height: 170px;
}

textarea#cardSummary {
  background: none;
}

label.filed-desc {
  border-radius: 3px;
  font-size: 12px;
  width: 60px;
  text-align: right;
  height: 35px;
  line-height: 35px;
  padding: 0 2px;
}

.tab-card-basic-info .form-group {
  margin-left: 0px !important;
}

.date-time-input {
  width: 200px !important;
  float: left !important;
  padding-left: 15px !important;

}

.input-ico {
  border-left: none !important;
  margin-left: -2px !important;
}

.card-ico {
  float: right;
  margin-top: 6px;
  color: white;
  margin-right: 5px;
  font-size: 10px;
  background: #d0d0d0;
  border-radius: 2px;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  cursor: default;
}

.card-rest-days-warning {
  background-color: @danger !important;
  animation: blinker 2.5s linear infinite;
}

.card-rest-days-expired-warning {
  background-color: @danger;
  color: white !important;
  animation: blinker 1s linear infinite;
}

.card-rest-days-expired-warning :hover {
  background-color: @danger !important;
  color: white !important;
}

.card-rest-days-warning-summary {
  background-color: #fcf8e3 !important;
  border-radius: 2px;
}

.card-rest-days-expired-warning-summary {
  background-color: @danger;
  border-radius: 2px;
  color: white;
}

.card-content-textarea .CodeMirror, .CodeMirror-scroll {
  min-height: 50px !important;
}

.card-content-textarea .CodeMirror.cm-s-paper.CodeMirror-wrap {
  height: auto !important;
  max-height: 80vh !important;
}

.card-content-textarea {
  max-height: 180px;
  overflow: auto;
}

.card-elapsed-days {
  height: 8px;
  background-color: white;
  float: left;
  width: 100%;
}

.elapsed-day {
  width: 7px;
  height: 7px;
  background-color: @base;
  float: left;
  margin-right: 2px;
  border-radius: 1px;
}

.elapsed-day.half-day {
  width: 5px !important;
}

.elapsed-in-progress:not([style*="display:none"]):last-child {
  animation: blinker 1.5s linear infinite;
}

.card-size-col {
  width: 200px !important;
  padding-right: 0px !important;
}

.card-creation-textarea {
  width: 100% !important;
  min-height: 150px;
}

.child-cards {
  height: 35px;
  float: left;
  width: 100%;
  border-radius: 2px;
}

.child-cards-movement-area {
  background: #f9f9f9;
  height: 150px;
  float: left;
  width: 100%;
  border-radius: 2px;
  border: 1px dashed #ccc;
}

.child-card-flag {
  width: 30px;
  background: #f9f9f9;
  color: #d0d0d0;
  height: 30px;
  line-height: 30px !important;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
  float: left;
}

.child-card-popover {
  min-width: 230px;
  min-height: 160px;
}

.child-card-flag-expired {
  color: @danger !important;
}

.child-card-flag-finished {
  color: @base !important;
}

.checked-box-label {
  float: left;
  margin-top: 4px;
}

.child-card-check {
  width: 100%;
  padding-left: 15px !important;
}

.filed-value {
  height: 35px;
  line-height: 35px;
}

.card-configuration-header {
  width: 100%;
  height: auto;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.card-configuration-header-info {
  width: 40%;
  float: left;
}

.card-configuration-header-code.ng-binding {
  width: 100%;
  float: left;
  font-size: 20px;
}

.card-configuration-header-creation-time-author {
  width: 100%;
  color: #494949;
  font-size: 12px;
}

.card-configuration-header-options {
  width: 40%;
  float: right;
  height: 47px;
  line-height: 47px;
}

.card-configuration-header-options-button {
  width: 85px;
  height: 32px;
  float: right;
  line-height: 32px;
  background: #efefef;
  text-align: center;
  margin-right: 20px;
  border-radius: 2px;
  margin-top: 10px;
}

.words-count.ng-binding {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
  color: #9c9d9b;
}
