<div class="modal-header">
    <h3 class="modal-title">如何创建看板</h3>
</div>
<div class="modal-body">
    <div id="board-creation-types-selection">
        <div id="creation-types-new-board" class="board-creation-type">
            <span class="glyphicon glyphicon-user board-type-glyphicon"></span>
            新建个人看板
        </div>
        <div id="creation-types-import-from-worktile" class="board-creation-type" ng-click="openWorktileDialog()">
            <span class="glyphicon glyphicon-random board-type-glyphicon"></span>从worktile导入
        </div>
    </div>
</div>
