<navigation-banner>
    <dashboard-entrance></dashboard-entrance>
    <div class="navigation-banner-custom-menu">DashBoard</div>
</navigation-banner>

<div class="boards">
    <board id="board-{{board.id}}" ng-repeat="board in boards | orderBy:'creationTime'" class="board-item"
           data-ng-model="board" board="board">
    </board>
    <div class="board-item board-creation" data-mode="inline" ng-show="displayBoardCreationForm">
        <div data-ng-model="tip" ng-mouseover="mouseover($event)" ng-click=openBoardCreationDialog()>添加一个看板</div>
    </div>
</div>
