<div procedureId="{{procedure.id}}" class="procedure-item" ng-mouseover="onProcedureMenuMouseOver($event)">
    <div class="procedure-wrap">
        <div class="procedure-title" data-type="text" editable-text="procedure.title" e-ng-click="open($event,'$data')"
             onbeforesave="updateProcedure($data,procedure)" data-mode="inline">
            {{procedure.title}}
        </div>
        <div class="dropdown procedure-menu thiki-animation" ng-show="displayProcedureMenu">
            <span class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">▼</span>
            <ul class="thiki-menu-items dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="thiki-menu-item"><a ng-click="toFullScreen()"><span class="thiki-menu-ico glyphicon glyphicon-fullscreen
"></span>全屏</a></li>
                <li class="thiki-menu-item">
                    <a ng-click="openProcedureConfiguration()">
                        <span class="thiki-menu-ico glyphicon glyphicon-cog"></span>配置
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="thiki-menu-item thiki-delete-item">
                    <a ng-click="openModal(procedure.title,procedure._links.self.href)">
                        <span class="thiki-menu-ico glyphicon glyphicon-trash"></span>删除
                    </a>
                </li>
            </ul>
        </div>
        <cards procedure="procedure"/>
    </div>
</div>
