<div id="procedure-{{procedure.id}}" procedureId="{{procedure.id}}" procedureClone="{{procedure}}"
     class="procedure-item"
     ng-mouseover="onProcedureMenuMouseOver($event)">
    <div class="procedure-wrap">
        <div class="procedure-title" data-type="text">
            <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-th" ng-show="procedure.type==0"></span>
            <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-circle-arrow-right"
                  ng-show="procedure.type==1&&procedure.status!=9"></span>
            <span class="thiki-menu-ico procedure-ico glyphicon glyphicon-folder-open"
                  ng-show="procedure.type==1&&procedure.status==9"></span>
            {{procedure.title}}
        </div>
        <div class="dropdown procedure-menu thiki-animation">
            <span class="procedure-menu-ico dropdown-toggle glyphicon glyphicon-tasks" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true"></span>
            <ul class="thiki-menu-items dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="thiki-menu-item">
                    <a ng-click="scrollToCardCreation()">
                        <span class="thiki-menu-ico glyphicon glyphicon-file"></span>新建卡片
                    </a>
                </li>
                <li class="thiki-menu-item"><a ng-click="toFullScreen()">
                    <span class="thiki-menu-ico glyphicon glyphicon-fullscreen"></span>全屏</a></li>
                <li class="thiki-menu-item">
                    <a ng-click="openProcedureConfiguration()">
                        <span class="thiki-menu-ico glyphicon glyphicon-cog"></span>配置
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="thiki-menu-item thiki-delete-item">
                    <a ng-click="openModal(procedure.title,procedure._links.self.href)">
                        <span class="thiki-menu-ico glyphicon glyphicon-trash"></span>删除
                    </a>
                </li>
            </ul>
        </div>
        <cards procedure="procedure"/>
    </div>
</div>
