<div id="create-new-procedure">
    <div id="create-new-procedure-button" ng-click="showCreateProcedureForm()" ng-show="displayCreationButton">+</div>
    <form id="create-new-procedure-form" name="createNewProcedureForm" class="create-procedure-form"
          ng-show="displayForm">
        <div class="input-group">
            <input name="title" type="text" class="form-control" data-ng-model="title"
                   ng-keydown="keyPress($event)" required focus="displayForm" ng-blur="blur()" autocomplete="off"/>
        </div>
        <div class="create-procedure-form-buttons">
            <button type="button" class="create-procedure-form-button btn btn-primary" ng-click="createProcedure()"
                    ng-disabled="createNewProcedureForm.title.$invalid">
                创建 </span>
            </button>
            <div class="create-procedure-form-cancel-button" ng-click="cancelCreateProcedure()">取消</div>
        </div>
    </form>
</div>
