<div class="modal-header">
    <h3 class="modal-title">工序配置</h3>
</div>
<div class="modal-body">
    <form name="procedureForm">
        <div class="form-group">
            <input name="procedureTitle" type="text" class="form-control" data-ng-model="procedure.title"
                   focus="true" placeholder="名称" autocomplete="off"
                   required/>
            <div class="validation-error-message"
                 ng-show="procedureForm.procedureTitle.$error.required && procedureForm.invitee.$dirty">请确定当前工序名称
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary" type="button" ng-click="saveProcedure()"
            ng-disabled="(!procedureForm.$dirty)||procedureForm.$invalid||isDisableProcedureSaveButton">
        {{procedureSaveButton}}
    </button>
</div>

