<div class="modal-header">
    <h3 class="modal-title">看板归属团队</h3>
</div>
<div class="modal-body">
    <div id="teams-selection">
        <ui-select data-ng-model="teams.selected">
            <ui-select-match placeholder="选择团队">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="team in teams | filter: $select.search">
                <span ng-bind-html="team.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <input name="selectedTeamName" data-ng-model="selectedTeamName" type="text" class="form-control"
               placeholder="输入所选团队的名称以确认变更" autocomplete="off"/>
    </div>
</div>
<div class="modal-footer" ng-keydown="keyPress($event)">
    <button class="btn btn-primary accept-invitation-button"
            ng-disabled="selectedTeamName==undefined||(selectedTeamName != teams.selected.name)"
            type="button" ng-click="archiveBoard()">变更所有权
    </button>
</div>

