
.tag-color-FBE6D9 {
  background-color: #FBE6D9 !important;
}

.tag-color-FBE6D9:before {
  border-right: 14px solid #FBE6D9;
}

.tag-color-F4C6AB {
  background-color: #F4C6AB !important;
}

.tag-color-F4C6AB:before {
  border-right: 14px solid #F4C6AB;
}

.tag-color-F07AAF {
  background-color: #F07AAF !important;
}

.tag-color-F07AAF:before {
  border-right: 14px solid #F07AAF;
}

.tag-color-E7235E {
  background-color: #E7235E !important;
}

.tag-color-E7235E:before {
  border-right: 14px solid #E7235E;
}

.tag-color-929396 {
  background-color: #929396 !important;
}

.tag-color-929396:before {
  border-right: 14px solid #929396;
}

div.tag-color {
  width: 66px;
  height: 30px !important;
  display: block;
  position: relative;
  float: left;
  margin-right: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

div.tag-color span {
  color: green;
  border-radius: 50%;
  -webkit-animation-name: shineRed;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shineRed {
  from {
    -webkit-box-shadow: 0 0 5px #bbb;
  }
  50% {
    -webkit-box-shadow: 0 0 10px white;
  }
  to {
    -webkit-box-shadow: 0 0 5px #bbb;
  }
}

.shine_red {
  -webkit-animation-name: shineRed;
  -webkit-animation-iteration-count: infinite;
}

.small-tag {
  position: relative;
  display: inline-block;
  height: 15px;
  padding: 1px 5px 5px 5px;
  border: 0 solid #C7D2D4;
  color: #fff;
  line-height: 13px;
  margin: 0px 2px;
  font-size: 10px;
}

.card-tags-small.ng-isolate-scope {
  margin-left: 5px;
  margin-right: 5px;
}

.card-tags-configuration {
  margin: 5px;
}

.card-tags-configuration span {
  margin-right: 5px;
}
